@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

.nav{
    background-color: #282828;
}

.nav__container{
    background-color: #282828;
    height: 30px;
    width: min(90%, 500px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    --icon-toggle-menu: url('/assets/menu.png');
    --transform-menu-show: translate(-100%)
}

.nav__container:has(.nav__input:checked){
    --icon-toggle-menu: url('/assets/close.png');
    --transform-menu-show: translate(0);
}

.nav__toggle, .nav__figure{
    position: relative;
    z-index: 10;
}

.nav__input{
    display: none;
}

.nav__toggle{
    margin-top: 0;
    width: 28px;
    height: 28px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .3s;
}

.nav__list{
    position: relative;
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;
    padding: 1.5rem 5%;
    background-color: #282828;
    list-style: none;
    transition: .5s transform;
    z-index: 1;
}

.nav__link{
    color: white;
    text-decoration: none;
}

.presentacion_contenido_titulo{
    font-family: "BBH Sans Hegarty", sans-serif;
}

.destacar_titulo{
    color: #FF2E83;
    font-size: 3.125rem;
}

.presentacion{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    justify-content: space-between;
}

.presentacion_contenido{
    width: 209px;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin: 0;
}

.title_separator{
    width: 200px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.presentacion_contenido_titulo{
    margin: 0;
    padding: 0;
    font-size: 2.125rem;
    letter-spacing: 0.063rem;
}

.presentacion_p1{
    padding: 0 5%;
    margin: 0.625rem 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.presentacion_contenido_texto1{
    margin: 0;
    padding: 0;
}
.presentacion_contenido_texto2{
    margin: 0.625rem 0;
    padding: 0;
}

.presentacion_p2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    margin: 0 0;
    width: 180px;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

.pink-separator{
    width: 50px;
}

.index_pic{
    position: absolute;
    display: flex;
    width: 200px;
    margin: 2px 47%;
    object-fit: cover;
    z-index: -1;
}

.lat-index-assets{
    position: absolute;
    width: 26px;
    margin: 0;
    padding: 0 5px;
    z-index: -1;
}

.presentacion_index_sec1{
    margin: 0.625rem 0;
    padding: 0;    
}

.presentacion_index_sec1{
    margin: 0 0;
    padding: 0;    
}

.presentacion_enlaces {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.presentacion_enlaces_link{
    width: 180px;
    align-items: center;
    text-align: center;
    padding: 6px 0;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: #282828;
    text-decoration: none;
    border: 1.5px solid #FF2E83;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.presentacion_enlaces_icon-ig{
    width: 12px;
}

.presentacion_enlaces_icon-bh{
    width: 16px;
}

.descanso1{
    padding: 0;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #FF2E83;
    overflow: hidden;
    z-index: 0;
}

.descanso1::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/assets/bg-texture1.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: screen;
}

.descanso_donnut_gray{
    width: 88px;
    margin-bottom: 165px;
    margin-left: 300px;
    position: absolute;
    z-index: 0;
}
.descanso{
    position: relative;
}

.index_pix_gray{
    position: absolute;
    top: 72%;
    left: 7%;
    width: 2.5vw;
    padding: 0;
    margin: 0;
    rotate: 90deg;
}

.descanso1_text{
    width: 27vh;
    text-align: center;
    font-family: "BBH Sans Hegarty", sans-serif;
    color: #FFFFFF;
    font-size: 1.375rem;
    font-weight: 500;
    z-index: 1;
}

.info{
    display: flex;
    justify-content: space-between;
    margin: 17px 6%;
    gap: 2%;
}

.img_rrss{
    width: 144px;
    height: 105px;
    border: 2px solid #FF2E83, ;
}

.parrafo_rrss{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 174px;
    font-size: 0.813rem;    
    text-align: right;
}

@media ( width > 764px){
    .nav__container{
        --transform-menu-show: translate(0);
    }
    .nav__toggle {
        display: none;
    }

    .nav__list{
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;

        transition: unset;
    }
}

/* Fondo especifico Index
body.page-index {
    background-image: url('/assets/mobile-index.png');
    @media (min-width: 600px) {
        background-image: url('/assets/banner-index.png');
    }
}

/* Estilos generales 
body.page-metodologia{
    background-image: url('/assets/banner-index.png');
}

.header{
    padding: 3% 0% 0% 20%;
}

.header_menu{
    display: flex;
    gap: 32px;
    @media (width <= 700px) {
        flex-direction: column;
    }
}
.header_menu_enlace{
    font-family: var(--fuente-inter);
    font-size: clamp(0.5rem, 1.1vw, 1.1rem);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primario);
}
.header_menu_enlace:active{
    color: var(--color-hover-text);
}

    .presentacion{
        display: flex;
        align-items: center;
        padding: 7% 20%;
        justify-content: space-between;
        gap: 82px;
    }

    .presentacion_contenido{
        width: 39%;
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    .presentacion_contenido_titulo{
        font-size: clamp(2rem, calc(1.82rem + 0.05625vw), 2.90rem);
        font-family: var(--fuente-inter);
        font-weight: 900;
    }

    .presentacion_contenido_texto{
        font-size: clamp(1rem, 1.7vw, 1.7rem);
        font-family: var(--fuente-inter);
    }
    
    .presentacion_enlaces{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
        gap: 32px;
    }

    .presentacion_contenido_texto_2{
        font-size: clamp(0.875rem, calc(0.75rem + 0.039vw), 1.5rem);
        font-family: var(--fuente-inter);
    }

    .presentacion_enlaces_link{
        width: 79%;
        text-align: center;
        padding: 3% 0;
        border-radius: 18px;
        font-family: var(--fuente-inter);
        font-size: var(--font-size-p2);
        font-weight: 600;
        text-decoration: none;
        color: var(--color-primario);
        border: 2px solid var(--color-secundario);
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .presentacion_enlaces_link:hover{
        background-color: var(--color-hover);
    }

    .footer{
        background-color: #000000;
        padding: 24px 0;
        font-family: var(--fuente-inter);
        color: var(--color-secundario);
        font-weight: 600;
        font-size: 14px;
        text-align: center;
    }

        @media (max-width: 1200px){

        .header{
            padding: 10%;
        }

        .header_menu{
            justify-content: center;
        }

        .presentacion{
            flex-direction: column-reverse;
            padding: 5%;
        }

        .presentacion_contenido {
            width: auto;
        }
    }