@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.nav{
    background-color: #282828;
}

.nav__container{
    background-color: #282828;
    height: 30px;
    width: min(90%, 500px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    --icon-toggle-menu: url('/assets/menu.png');
    --transform-menu-show: translate(-100%)
}

.nav__container:has(.nav__input:checked){
    --icon-toggle-menu: url('/assets/close.png');
    --transform-menu-show: translate(0);
}

.nav__toggle, .nav__figure{
    position: relative;
    z-index: 10;
}

.nav__input{
    display: none;
}

.nav__toggle{
    margin-top: 0;
    width: 28px;
    height: 28px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .3s;
}

.nav__list{
    position: relative;
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;
    padding: 1.5rem 5%;
    background-color: #282828;
    list-style: none;
    transition: .5s transform;
    z-index: 1;
}

.nav__link{
    color: white;
    text-decoration: none;
}

.presentacion_contenido_titulo{
    font-family: "BBH Sans Hegarty", sans-serif;
}

.destacar_titulo{
    color: #FF2E83;
    font-size: 3.125rem;
}

.presentacion{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    justify-content: space-between;
}

.presentacion_contenido{
    width: 209px;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin: 0;
}

.title_separator{
    width: 200px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.presentacion_contenido_titulo{
    margin: 0;
    padding: 0;
    font-size: 2.125rem;
    letter-spacing: 0.063rem;
}

.presentacion_p1{
    padding: 0 5%;
    margin: 0.625rem 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.presentacion_contenido_texto1{
    margin: 0;
    padding: 0;
}
.presentacion_contenido_texto2{
    margin: 0.625rem 0;
    padding: 0;
}

.presentacion_p2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    margin: 0 0;
    width: 180px;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

.pink-separator{
    width: 50px;
}

.index_pic{
    position: absolute;
    display: flex;
    width: 200px;
    margin: 0;
    left: 73%;
    transform: translateX(-50%);
    object-fit: cover;
    z-index: -1;
}

.lat-index-assets{
    position: absolute;
    width: 26px;
    margin: 0;
    padding: 0 5px;
    left: 0;
    z-index: -1;
}

.presentacion_index_sec1{
    margin: 0.625rem 0;
    padding: 0;    
}

.presentacion_index_sec1{
    margin: 0 0;
    padding: 0;    
}

.presentacion_enlaces {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.presentacion_enlaces_link{
    width: 180px;
    align-items: center;
    text-align: center;
    padding: 6px 0;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: #282828;
    text-decoration: none;
    border: 1.5px solid #FF2E83;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.presentacion_enlaces_icon-ig{
    width: 12px;
}

.presentacion_enlaces_icon-bh{
    width: 16px;
}

.descanso1{
    padding: 0;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #FF2E83;
    overflow: hidden;
    z-index: 0;
}

.descanso1::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/assets/bg-texture1.png');
    background-size: cover;
    background-repeat: round;
    opacity: 0.9;
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: screen;
}

.descanso_donnut_gray{
    width: 88px;
    margin-bottom: 165px;
    position: absolute;
    z-index: 0;
    right: -20px;
    top: -65px;
}  

.descanso{
    position: relative;
}

.index_pix_gray{
    position: absolute;
    top: 72%;
    left: 7%;
    width: 2.5vw;
    padding: 0;
    margin: 0;
    rotate: 90deg;
}

.descanso1_text{
    width: 27vh;
    text-align: center;
    font-family: "BBH Sans Hegarty", sans-serif;
    color: #FFFFFF;
    font-size: 1.375rem;
    font-weight: 500;
    z-index: 1;
}

.info{
    display: flex;
    justify-content: space-between;
    margin: 15px 6%;
    gap: 2%;
}

.img_rrss{
    width: 144px;
    height: 105px;
    border: 2px solid #FF2E83;
}

.parrafo_rrss{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 174px;
    font-size: 0.813rem;    
    text-align: left;
}

.promedio_sec{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
    padding: 0 5%;
    box-sizing: border-box;
    align-items: center;
}

.barra_promedio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
}

.info_promedio{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.promedio{
    color: #FF2E83;
    font-weight: 400;    
}

.info_horas{
    color: #FFFFFF;
    font-size: 0.75rem;
    text-align: center;
    background-color: #282828;
    padding: 5px 13px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.info_horas_2{
    color: #FF2E83;
}

.info_horas_title{
    font-family: "BBH Sans Hegarty", sans-serif;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.02;
}

.info_horas_nav{
    padding: 0;
    margin: 0;
    font-size: 0.625rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.spiral_wrapper{
    width: auto;
    height: auto;
    position: relative;
}

.spiral_square{
    width: auto;
    flex-shrink: 0;
    margin-top: 0;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF2E83;
    border-radius: 15px;
    padding: 18px 11px;
    position: relative;
    z-index: 0;
}

.spiral_wrapper::before, .spiral_wrapper::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
    background-color: transparent;
    box-sizing: border-box;
}

.spiral_wrapper::before{
    border: 1px solid #FF2E83;
    top: 0;
    left: -4px;
    z-index: -1;
}

.spiral_wrapper::after{
    border: 1px solid #FF2E83;
    top: 0;
    left: -8px;
    z-index: -1;
}

.spiral_white{
    width: 80px;
    max-width: 80px;
}

.porcentaje{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin: 3% 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
    overflow: visible;
}

.info_porcentaje{
    font-size: 0.625rem;

}

.spiral_square_pink{
    width: auto;
    flex-shrink: 0;
    margin-top: 0;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    border-radius: 15px;
    padding: 18px 11px;
    position: relative;
    z-index: 0;
}

.spiral_wrapper_2{
    width: auto;
    height: auto;
    position: relative;
}

.spiral_wrapper_2::before, .spiral_wrapper_2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
    background-color: transparent;
    box-sizing: border-box;
}

.spiral_wrapper_2::before{
    border: 1px solid #282828;
    top: 0;
    left: 4px;
    z-index: -1;
}

.spiral_wrapper_2::after{
    border: 1px solid #282828;
    top: 0;
    left: 8px;
    z-index: -1;
}

.spiral_pink{
    width: 80px;
    max-width: 80px;
}

.lat_arrows_white{
    width: auto;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    z-index: 1;
}

.white_arrow_lat{
    transform: rotate(90deg);
    width: 500px;
    left: -50%;
    top: 50%;
    z-index: 2;
    position: absolute;
}

.white_arrow_lat2{
    transform: rotate(90deg);
    width: 500px;
    top: 50%;
    right: -50%;
    z-index: 2;
    position: absolute;
}

.seccion_advertencia_wrapper{
    position: relative;
}

.horas_2_sec{
    padding: 0;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #282828;
    overflow: hidden;
    z-index: 0;
    text-align: center;
    color: #FFFFFF;
}

.horas_2_sec::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/assets/bg-texture1.png');
    background-size: cover;
    background-repeat: round;
    opacity: 0.4;
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: screen;
}

.horas_2_info{
    margin-top: 26px;
    width: 75%;
    font-size: 0.625rem;
    font-family: 'Inter', sans-serif;
}

.horas_2_title{
    margin: 0;
    padding-bottom: 26px;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.horas_2_strong{
    color: #FF2E83;
    font-weight: 400;
}

.resultados_sec{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientes_rrss{
    margin-top: 0;
    width: 95%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

.clientes_rrss_strong{
    font-weight: 800;
}

.convierta_rrss{
    margin: 0;
    width: 95%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

.resultados_reales{
    color: #282828;
    margin-top: 2%;
    margin-bottom: 0;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

.resultados_reales_strong{
    color: #FF2E83;
    font-weight: 400;
}

.advertencia_div{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: #FF2E83;
    margin-top: 2%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.advertencia_div::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/assets/bg-texture1.png');
    background-size: cover;
    background-repeat: round;
    opacity: 0.8;
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: screen;
}

.advertencia_title{
    color: #282828;
    margin-top: 3%;
    margin-bottom: 0;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 1.375rem;
    text-align: center;
    z-index: -2;
}

.advertencia_text{
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 400;
}

.Velociraptors{
    font-style: oblique;
    font-weight: 600;
}

.velociraptros_denied{
    width: 28%;
    z-index: -2;
}

.advertencia_text_pasado{
    margin: 0;
    margin-bottom: 2%;
    color: #282828;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
}

.advertencia_text_pasado_2{
    margin-top: 2%;
    margin-bottom: 3%;
    color: #282828;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
}

.odometer{
    color: #282828;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: normal !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    white-space: nowrap;
}

.odometers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 1000px;
    flex-wrap: wrap;
    z-index: -2;
}

.meter{
    background-color: #FFFFFF;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_pix_gray_velociraptors{
    position: absolute;
    top: 92%;
    right: 7%;
    width: 2.5vw;
    padding: 0;
    margin-top: 4%;
    rotate: 90deg;
    z-index: 2;
}

.footer{
    margin: 0;
    width: 100%;
    background-color: #FF2E83;
    padding: 12px 0;
    font-family: 'Inter', sans-serif;
    color: #282828;
    font-weight: 600;
    font-size: 0.75rem;
    text-align: center;
}

.container{
    min-height: 100dvh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

@media ( width > 764px){
    .nav__container{
        --transform-menu-show: translate(0);
    }
    .nav__toggle {
        display: none;
    }

    .nav__list{
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;
        transition: unset;
    }
}