@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario: #ffffff;
    --color-secundario: #FF0B55;
    --color-hover-text: #CF0F47;
    --color-hover: #2a2a2a;

    --fuente-inter: "Inter", sans-serif;
    --font-size-title: 2.75rem; 
    --font-size-menu: 1.20rem;
    --font-size-p: 1.75rem;
    --font-size-p2: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
}
/* Estilos generales */
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: var(--color-primario);
    box-sizing: border-box;
}

/* Fondo especifico Index */
body.page-index {
    background-image: url('/assets/mobile-index.png');
    @media (min-width: 600px) {
        background-image: url('/assets/banner-index.png');
    }
}

/* Estilos generales */
body.page-metodologia{
    background-image: url('/assets/banner-index.png');
}

.header{
    padding: 3% 0% 0% 20%;
}

.header_menu{
    display: flex;
    gap: 32px;
    @media (width <= 700px) {
        flex-direction: column;
    }
}
.header_menu_enlace{
    font-family: var(--fuente-inter);
    font-size: clamp(0.5rem, calc(0.36rem + 0.04375vw), 1.2rem);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primario);
}
.header_menu_enlace:active{
    color: var(--color-hover-text);
}

    .presentacion{
        display: flex;
        align-items: center;
        padding: 7% 20%;
        justify-content: space-between;
        gap: 82px;
    }

    .presentacion_contenido{
        width: 39%;
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    .presentacion_contenido_titulo{
        font-size: clamp(2rem, calc(1.82rem + 0.05625vw), 2.90rem);
        font-family: var(--fuente-inter);
        font-weight: 900;
    }

    .presentacion_contenido_texto{
        font-size: clamp(1rem, calc(0.86rem + 0.04375vw), 1.7rem);
        font-family: var(--fuente-inter);
    }
    
    .presentacion_enlaces{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
        gap: 32px;
    }

    .presentacion_contenido_texto_2{
        font-size: clamp(0.875rem, calc(0.75rem + 0.039vw), 1.5rem);
        font-family: var(--fuente-inter);
    }

    .presentacion_enlaces_link{
        width: 79%;
        text-align: center;
        padding: 3% 0;
        border-radius: 18px;
        font-family: var(--fuente-inter);
        font-size: var(--font-size-p2);
        font-weight: 600;
        text-decoration: none;
        color: var(--color-primario);
        border: 2px solid var(--color-secundario);
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .presentacion_enlaces_link:hover{
        background-color: var(--color-hover);
    }

    .footer{
        background-color: #000000;
        padding: 24px 0;
        font-family: var(--fuente-inter);
        color: var(--color-secundario);
        font-weight: 600;
        font-size: 14px;
        text-align: center;
    }

        @media (max-width: 1200px){

        .header{
            padding: 10%;
        }

        .header_menu{
            justify-content: center;
        }

        .presentacion{
            flex-direction: column-reverse;
            padding: 5%;
        }

        .presentacion_contenido {
            width: auto;
        }
    }